@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    text-align: center;   
    background-color: aliceblue;
}


h1 {
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #000;
    text-align: center;
    font-size: 42px;
}

h1 i {
    margin-right: 8px;
}

#user-input {
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.btn {
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    width: 140px;
    background-color: blanchedalmond;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.btn i {
    margin-right: 8px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.list-item {
    list-style: none;
    padding: 10px;
    background-color: #f5f5f5;
    border: 3px solid #dddddd;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px; /* Set width to match the input width */
    margin-bottom: 10px;
}

#filter {
    padding: 10px;
    border: none; 
    border-bottom: 1px solid #dddddd; /* Add bottom border */
    margin-top: 15px;
    width: 320px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.dlt-btn {
    background-color: transparent;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.dlt-btn:hover {
    transform: scale(1.2);
}
  
.dlt-btn:hover i {
    color: red;
}
  

@media only screen and (max-width: 600px) {
    body {
        padding: 20px;
    }
  }